*{
    --fontSize: 14px; 
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container{
    overflow: hidden;
}

.header{
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 40px 20px;
    box-shadow: 0 2px #ccc;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;    
}

.top-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: spacce-between;
    align-items: center;
    gap: 10px;
}

.button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ccc;
    font-size: var(--fontSize);
}

.button-active {
    background-color: #007bff;
    color: white;
}


.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-container input[type="text"] {
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 80%;
    font-size: var(--fontSize);
    padding: 10px 20px;
}

.filter-container {
    width: 100%;
}
.filter-container #filterForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

#categoryContainer, #tagContainer{
    position: relative;
}

#categoryCheckboxes,#tagCheckboxes{
    position: absolute;
    top: 100%;
    left: 0;    
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ccc;
    padding: 10px 20px;
    z-index: 10;
    display: inline;
}

#categoryDropdown, #tagDropdown{
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: var(--fontSize);
    z-index: 10;
}

.filter-container select,
.filter-container input {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: var(--fontSize);
}


.filter-container button {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    font-size: var(--fontSize);
}
.filter-container button:hover{
    background-color: #007bff;
    color: white;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: var(--fontSize);
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 10px;
    text-align: left;
}

table .action-column{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    border: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination .active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
}


i.fa-trash-alt{
    margin-left: 8px;
}

i.delete-all {
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s; 
}

table:hover i.delete-all {
    visibility: visible; 
    opacity: 1; 
}




/* POPUP */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); 
}


.modal-content {
    background-color: #fff; 
    margin: 10% auto; 
    padding: 40px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 90%; 
    max-width: 600px; 
}

.modal-content h2 {
    text-align: center;
}

.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: #000; 
    text-decoration: none; 
    cursor: pointer; 
}


.modal label {
    display: block; 
    margin: 15px 0 5px; 
    font-size: var(--fontSize); 
}

.modal input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

.modal button[type="submit"] {
    background-color: #ccc; 
    color: #000; 
    border: none; 
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin: 16px 2px; 
    cursor: pointer; 
    font-weight: 600;
    border-radius: 5px; 
    transition: background-color 0.3s; 
    font-size: var(--fontSize); 

}

.modal button[type="submit"]:hover {
    color:#fff;
    background-color: #007bff ;
}


/* Nút đóng modal (icon x) */
.close-delete {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.close-delete:hover,
.close-delete:focus {
    color: #000;
}

/* Style cho tiêu đề modal */
.modal-content h2 {
    margin-top: 0;
}

/* Style cho các nút trong modal */
.modal-delete{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-delete button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.btn-delete{
    background-color: #f44336; /* Màu đỏ cho nút xóa */
    color: white;
}

#cancelDelete {
    background-color: #ccc;
    color: black;
    margin-top: 48px;
}

.btn-delete:hover {
    background-color: #d32f2f;
}

#cancelDelete:hover {
    background-color: #999;
}


#categoryCheckboxes,
#tagCheckboxes {
    display: none;
}


.alert-danger {
    display: none;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid red;
    color: red;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.alert-danger.show {
    display: block;
    opacity: 1; 
}

.alert-danger span {
    font-size: var(--fontSize);
}